$blue: #3369f3;
$fadeBlue: #e4edfd;
$dark: #1e1e1e;
$gray: #999;
$fadeGray: #eaeaea;
$lightBackground: #fbfbfb;
$messageTo: #f8f8f8;
$messageFrom: #e4edfd;

.avatar-placeholder {
    width: 47px;
    height: 47px;
    background-color: $fadeGray;
    border-radius: 50%;
}

.chat-name {
    font-family: Inter-SemiBold;
    text-align: left;
    font-size: 13px;
    line-height: 13px;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    padding: 10px 20px;
    overflow: hidden;
}

.feed__feed-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 11px;

&::after {
     content: " ";
     border-bottom: 1px solid $fadeGray;
     position: absolute;
     width: 100%;
     bottom: -11px;
 }
}

.chat-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-button {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;

&.icon-button_arrow-right {
     background-image: url(../../../static/images/arrow-right.svg);
 }
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: scroll;
}

.message-form {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 11px;

&::before {
     content: " ";
     border-bottom: 1px solid $fadeGray;
     position: absolute;
     width: 100%;
     top: -11px;
 }
}

.message-form__message-input {
    width: 100%;
    margin: 0 10px;
    padding: 12px 20px;
    background-color: $fadeGray;
    border-radius: 30px;
    font-size: 14px;
    line-height: 12px;
    border: none;
}
