* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter-Regular';
    outline: none;

    -ms-overflow-style: none;
    scrollbar-width: none; 

    &::-webkit-scrollbar {
        display: none;
    }
}

input {
    border: none;
}

ul, ol {
    list-style: none;
}

textarea {
    outline: none;
    resize: none;
}