{{!< baseLayout}}

<main>
  <div class="chats">
    <div class="chats__chat-list-wrapper">
      <button class="profile-button"><a class="profile-button__link" href="./profile.hbs">Профиль</a></button>
      <div class="search-field">
        <input class="search-field__input" id="chatName" name="chatName" placeholder=" Поиск" type="text" />
      </div>
      <ul class="chats-list">
          {{#each data.chats}}
            {{> chat/chat chatData=this}}
          {{/each}}
      </ul>
    </div>
    <div class="feed">
        <div class="feed__feed-panel feed__feed-panel_top">
            <div class="chat-info">
                <div class="avatar-placeholder"></div>
                <h3 class="chat-name">Вадим</h3>
            </div>
            <button class="icon-button icon-button_menu"></button>
        </div>
        <div class="messages-wrapper">
            <section class="date-message-group">
                <div class="date-message-group__date">12 мая</div>
                <ul class="message-list">
                    {{#each data.messages}}
                        {{> message/message messageData=this}}
                    {{/each}}
                </ul>  
            </section>
        </div>
        <div class="feed__feed-panel feed__feed-panel_bottom">
            <button class="icon-button icon-button_attachment"></button>
            <span class="message-input" role="textbox" contenteditable  placeholder="Сообщение"></span>
            <button class="icon-button icon-button_arrow-right"></button>
        </div>
    </div>
  </div>
</main>