---
title: Вход
css:
  - global.css
  - fontFace.css
  - signIn.css
---
{{!< baseLayout}}

<main>
  <div class="sign-in">
    <h3 class="sign-in__header">{{title}}</h3>
    <form class="sign-in__form">
      <div class="sign-in__fieldset">
        <div class="sign-in__field">
          <label class="sign-in__label" for="">Логин</label>
          <input class="sign-in__input" id="" name="" type="text" />
        </div>
        <div class="sign-in__field">
          <label class="sign-in__label" for="">Пароль</label>
          <input class="sign-in__input" id="" name="" type="text" />
        </div>
      </div>
      <div class="sign-in__buttons-block">
        <button class="sign-in__button button-contained">Войти</button>
        <a class="sign-in__link link" href="#">Нет аккаунта?</a>
      </div>
    </form>
  </div>
</main>