{{!< baseLayout}}

<main>
  <div class="access sign-up">
    <h3 class="access__header">Регистрация</h3>
    <form class="access__form" name="sign_up">
    <div class="access__fieldset">
        {{#each data.signUpFormFields}}
          {{> access-form-field/access-form-field formField=this}}
        {{/each}}
    </div>
    <div class="access__buttons-block">
        {{> button/button classes="access__button" title="Зарегистрироваться" form="sign_up" type="submit"}}
        {{> link/link classes="access__link" href="./chats.hbs" text="Войти"}}
    </div>
</form>
  </div>
</main>