{{!< baseLayout}}

<main>
  <div class="access sign-in">
    <h3 class="access__header">Вход</h3>
    <form class="access__form">
    <div class="access__fieldset">
        {{> access-form-field/access-form-field fieldName="Логин" fieldId="login" fieldType="text"}}
        {{> access-form-field/access-form-field fieldName="Пароль" fieldId="password" fieldType="password"}}
    </div>
    <div class="access__buttons-block">
        {{> button/button classes="access__button" title="Войти" type="submit"}}
        {{> link/link classes="access__link" href="./signUp.hbs" text="Нет аккаунта?"}}
    </div>
</form>
  </div>
</main>