---
title: Регистрация
css:
  - global.css
  - fontFace.css
  - access.css
---
{{!< baseLayout}}

<main>
  <div class="access sign-up">
    <h3 class="access__header">{{title}}</h3>
    {{> modules/signUpForm}}
  </div>
</main>