$blue: #3369f3;
$fadeBlue: #e4edfd;
$dark: #1e1e1e;
$gray: #999;
$fadeGray: #eaeaea;
$lightBackground: #fbfbfb;
$messageTo: #f8f8f8;
$messageFrom: #e4edfd;

.chats {
  display: flex;
  flex-direction: row;
}

.chats__chat-list-wrapper {
  height: 100vh;
  min-width: 320px;
  position: sticky;
  overflow: hidden;
  background-color: $lightBackground;
}

.profile-button {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 22px;
  right: 24px;
  font-size: 12px;
  color: $gray;
}

.search-field {
  margin: 52px 20px 25px;
}

.search-field__input {
  height: 32px;
  width: 100%;
  padding: 10px;
  background: $fadeGray;
  border-radius: 5px;
}

.chat__form {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  display: flex;
}
