$blue: #3369f3;
$fadeGrey: #999;

.access {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.access__header {
  font-size: 20px;
  margin-top: 50px;
}

.access__form {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.access__buttons-block {
  .button-contained {
    margin-bottom: 14px;
  }
}

.sign-in {
  height: 450px;

  .access__form {
    height: 80%;
  }

  .access__buttons-block {
    height: 20%;
  }
}

.sign-up {
  height: 670px;

  .access__form {
    height: 85%;
  }

  .access__buttons-block {
    height: 15%;
  }
}
