<form class="access__form">
    <div class="access__fieldset">
        {{> components/access-field fieldName="Почта" fieldId="email" fieldType="email"}}
        {{> components/access-field fieldName="Логин" fieldId="login" fieldType="text"}}
        {{> components/access-field fieldName="Имя" fieldId="name" fieldType="text"}}
        {{> components/access-field fieldName="Фамилия" fieldId="surname" fieldType="text"}}
        {{> components/access-field fieldName="Телефон" fieldId="phone" fieldType="phone"}}
        {{> components/access-field fieldName="Пароль" fieldId="password" fieldType="password"}}
        {{> components/access-field fieldName="Пароль (ещё раз)" fieldId="password-confirmation" fieldType="password"}}
    </div>
    <div class="access__buttons-block">
        {{> components/button classes="access__button" title="Зарегистрироваться" type="submit"}}
        {{> components/link classes="access__link" href="./signIn.hbs" text="Войти"}}
    </div>
</form>