<form class="access__form">
    <div class="access__fieldset">
        {{> components/access-field fieldName="Логин" fieldId="login" fieldType="text"}}
        {{> components/access-field fieldName="Пароль" fieldId="password" fieldType="password"}}
    </div>
    <div class="access__buttons-block">
        {{> components/button classes="access__button" title="Войти" type="submit"}}
        {{> components/link classes="access__link" href="./signUp.hbs" text="Нет аккаунта?"}}
    </div>
</form>