<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>Telechat</title>
</head>
<body>
    {{{body}}}
    {{!-- Костыль. Нужен, чтобы Parcel включил эти шаболны в дерево  --}}
    <a href="../pages/404.hbs" class="hidden-link"></a>
    <a href="../pages/500.hbs" class="hidden-link"></a>
</body>
</html>